In [27]:
import pandas as pd

data = {
    "메서드": ["clear()", "copy()", "fromkeys(seq[, v])", "get(key[, d])", "items()", "keys()",
             "pop(key[, d])", "popitem()", "setdefault(key[, d])", "update([other])", "values()"],
    "설명": [
        "딕셔너리의 모든 항목을 제거.",
        "딕셔너리의 얕은 복사본을 반환.",
        "seq로부터 키를 가져오고 값은 v로 설정된 새로운 딕셔너리를 반환 ",
        "키의 값을 반환. 키가 존재하지 않으면 d를 반환",
        "딕셔너리의 항목을 (key, value) 형식으로 새 객체로 반환.",
        "딕셔너리의 키를 새 객체로 반환.",
        "키에 해당하는 항목을 제거하고 그 값을 반환하거나 키가 없으면 d를 반환.",
        "임의의 항목 (key, value)을 제거하고 반환. 딕셔너리가 비어 있으면 KeyError를 발생.",
        "키가 딕셔너리에 있으면 해당 값을 반환하고, 없으면 키를 추가하고 값을 d로 설정한 뒤 반환.",
        "다른 딕셔너리의 key/value 쌍으로 현재 딕셔너리를 업데이트.",
        "딕셔너리 값의 새 객체를 반환."
    ]
}

df = pd.DataFrame(data)


from IPython.display import display
display(df.style.hide(axis="index"))

In [13]:
#clear
fruits = {
    "apple": "red",
    "banana": "yellow",
    "grape": "purple"
}

fruits.clear()

print(fruits)

{}

In [14]:
#copy
fruits = {
    "apple": "red",
    "banana": "yellow",
    "grape": "purple"
}

fruits_copy = fruits.copy()

print(fruits_copy)

{'apple': 'red', 'banana': 'yellow', 'grape': 'purple'}

In [15]:
#fromkeys
fruits = ["apple", "banana", "grape"]

fruit_dict = dict.fromkeys(fruits)

print(fruit_dict)

{'apple': None, 'banana': None, 'grape': None}

In [16]:
#get
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

color = fruits.get("apple")
print(color)

red

In [17]:
#items
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

for key, value in fruits.items():
    print(f"{key} is {value}")

apple is red
banana is yellow
grape is purple

In [18]:
#keys
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

print(fruits.keys())

dict_keys(['apple', 'banana', 'grape'])

In [19]:
#pop
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

removed_value = fruits.pop("banana")

print(f"Removed value: {removed_value}")
print(f"Updated dictionary: {fruits}")

Removed value: yellow
Updated dictionary: {'apple': 'red', 'grape': 'purple'}

In [20]:
#popitem
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

removed_item = fruits.popitem()

print(f"Removed item: {removed_item}")
print(f"Updated dictionary: {fruits}")

Removed item: ('grape', 'purple')
Updated dictionary: {'apple': 'red', 'banana': 'yellow'}

In [21]:
#setdefault
fruits = {"apple": "red", "banana": "yellow"}

color = fruits.setdefault("apple", "green")

print(f"Returned value: {color}")
print(f"Updated dictionary: {fruits}")

Returned value: red
Updated dictionary: {'apple': 'red', 'banana': 'yellow'}

In [22]:
#update
fruits = {"apple": "red", "banana": "yellow"}
new_fruits = {"grape": "purple", "banana": "green"}

fruits.update(new_fruits)

print(fruits)

{'apple': 'red', 'banana': 'green', 'grape': 'purple'}

In [23]:
#values
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

fruit_colors = fruits.values()

print(fruit_colors)
print(list(fruit_colors))

dict_values(['red', 'yellow', 'purple'])
['red', 'yellow', 'purple']

In [28]:
import pandas as pd
from IPython.display import display

data = {
    "메서드": ["all()", "any()", "len()", "cmp()", "sorted()"],
    "설명": [
        "딕셔너리의 모든 키가 True이면 True를 반환 ",
        "딕셔너리의 키 중 하나라도 True이면 True를 반환. 딕셔너리가 비어 있으면 False 반환.",
        "딕셔너리의 길이를 반환.",
        "두 개의 딕셔너리 항목을 비교",
        "딕셔너리의 키를 정렬한 새로운 리스트를 반환."
    ]
}


df = pd.DataFrame(data)


display(df.style.hide(axis="index"))

In [41]:
#all
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

print(all(fruits))

True

In [40]:
#any

fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}
print(any(fruits))
empty_dict = {}
(any(empty_dict))

True

False

In [39]:
#len
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

print(len(fruits))

3

In [38]:
#sorted
fruits = {"banana": "yellow", "apple": "red", "grape": "purple"}
sorted_keys = sorted(fruits)
print(sorted_keys)

['apple', 'banana', 'grape']