|내장 함수               |  |
|-------------------------------|-------------|
| **all()**                      | 주어진 iterable의 모든 요소가 참일 경우에만 True를 반환하고, 그렇지 않으면 False를 반환 |
| **any()**                      | 반복 가능한 객체 중 하나 이상의 요소가 참인지 확인 |
| **enumerate()**                | enumerate()는 파이썬 내장 함수로, 주로 for 루프에서 리스트나 다른 iterable 객체의 각 항목과 그 항목의 인덱스를 동시에 얻고자 할 때 사용|
| **len()**                       |문자열, 리스트, 튜플 등의 객체에 포함된 요소의 개수를 반환하는 함수 |
| **max()**                       |매개변수로 전달된 여러 값 중에서 가장 큰 값을 반환|
| **min()**                       | 매개변수로 전달된 여러 값 중에서 가장 작은 값을 반환|
| **sorted()**                    | 주어진 iterable 객체(리스트, 튜플, 문자열 등)를 정렬하여 새로운 리스트로 반환 |
| **sum()**                       | 리스트, 튜플, 세트와 같은 반복 가능한 객체의 모든 값을 더한 결과를 반환|
| **add()**                       | 집합에 요소를 추가 |
| **clear()**                     | 집합의 모든 요소를 제거|
| **copy()**                      | 집합의 복사본을 반환|
| **difference()**                |두 개 이상의 집합의 차집합을 새로운 집합으로 반환 |
| **difference_update()**         |다른 집합의 모든 요소를 현재 집합에서 제거|
| **discard()**                   | 해당 요소를 제거|
| **intersection()**              | 두 집합의 교집합을 반환|
| **intersection_update()**       |둘 이상 set에서 공통요소 아닌 요소를 제거 |
| **isdisjoint()**                |  두 집합이 공통 요소가 없는지 확인 |
| **issubset()**                  | 집합이 다른 집합에 포함되는지 확인|
| **issuperset()**                | 집합이 다른 집합을 포함하면 True를 반환 |
| **pop()**                        |임의의 집합 요소를 제거하고 반환 |
| **remove()**                     | 집합에서 요소를 제거|
| **symmetric_difference()**      | 두 집합에서 공통되지 않는 요소들만 포함하는 새로운 집합을 반환|
| **symmetric_difference_update()** | 두 집합에서 공통되는 요소를 제거하고, 나머지 요소들로 현재 집합을 갱신 |
| **union()**                     |여러 집합의 합집합을 새로운 집합으로 반환|
| **update()**                    | 현재 집합에 다른 집합의 요소를 추가하여 합집합으로 만듬 |

In [6]:
#all()
s = {True, True, True}
print(all(s))

True

In [7]:
#any()
s = {True, True, True}
print(any(s))

True

In [8]:
#enumerate
animals = ['호랑이', '코끼리', '독수리', '판다']
for rank, animal in enumerate(animals, start=1):
    print(f"{rank}위: {animal}")

1위: 호랑이
2위: 코끼리
3위: 독수리
4위: 판다

In [9]:
# len
my_list = [1, 2, 3, 4, 5]
print(len(my_list))

5

In [11]:
#max
numbers = [23, 45, 12, 67, 8]
print(max(numbers))

67

In [12]:
#min
numbers = [23, 45, 12, 67, 8]
print(max(numbers))

67

In [13]:
#sorted
numbers = [5, 2, 8, 1, 9]
print(sorted(numbers))

[1, 2, 5, 8, 9]

In [14]:
#sum
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))

15

In [15]:
#add
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [16]:
#clear
my_set = {1, 2, 3}
my_set.clear()
print(my_set)

set()

In [17]:
# copy
set1 = {1, 2, 3}
set2 = set1.copy()
print(set2)

{1, 2, 3}

In [18]:
#difference
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
print(set1.difference(set2))

{1, 2}

In [19]:
#difference_update()
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
set1.difference_update(set2)
print(set1)

{1, 2}

In [20]:
#discard
my_set = {1, 2, 3}
my_set.discard(2)
print(my_set)

{1, 3}

In [21]:
#intersection
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [22]:
#intersection_updata()
et1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection_update(set2)
print(set1)

{2, 3}

In [23]:
#isdisjoint()
set1 = {1, 2}
set2 = {3, 4}
print(set1.isdisjoint(set2))

True

In [24]:
#issubset
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))

True

In [25]:
#issuperset()
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set1.issuperset(set2))

True

In [26]:
#pop
my_set = {1, 2, 3}
removed_item = my_set.pop()
print(removed_item)

1

In [27]:
#remove
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)

{1, 3}

In [28]:
#symmetric_difference
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.symmetric_difference(set2))

{1, 4}

In [30]:
#symmetric_difference_update()
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.symmetric_difference_update(set2)
print(set1)

{1, 4}

In [31]:
#union
set1 = {1, 2}
set2 = {3, 4}
print(set1.union(set2))

{1, 2, 3, 4}

In [32]:
#update
set1 = {1, 2}
set2 = {3, 4}
set1.update(set2)
print(set1)

{1, 2, 3, 4}